language: c
dist: trusty

cache:
  apt: true
  directories:
    - $HOME/.mine
    - $HOME/.opam
    - $HOME/.local
    - $HOME/.pyenv
    - $HOME/Library/Caches/Homebrew

addons:
  apt:
    sources:
      - sourceline: ppa:bpaquet/zeromq4-trusty
    packages:
      - m4
      - git
      - rsync
      - aspcud
      - libffi-dev
      - libgmp-dev
      - libzmq-dev=4.0.4-bpa~trusty2

env:
  global:
    - OPAM_PREFIX=$HOME/.mine
    - PATH=$PATH:$OPAM_PREFIX/bin:$HOME/.local/bin
    - PYTHONUSERBASE=$HOME/.local
    - PYTHONVERSION=3.6.1

matrix:
  include:
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.02.3
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.03.0
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.04.2
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.05.0
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.06.0 GIT_REMOTE_URL="https://akabe:$GITHUB_API_KEY@github.com/akabe/ocaml-jupyter"
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.07.0+trunk
    - os: osx
      osx_image: xcode9
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.06.0
  allow_failures:
    - os: linux
      env: OPAM_VERSION=1.2.2 OCAML_VERSION=4.07.0+trunk

before_script:
  - eval "$(pyenv init -)"
  - pyenv install --list
  # for Mac OS X
  - |
    if which brew; then
      brew update &&
      brew unlink python &&
      brew install m4 aspcud rsync libffi zeromq cairo
    fi
  # Install Python 3 and Jupyter
  - pyenv install -s $PYTHONVERSION
  - pyenv global $PYTHONVERSION
  - pip install ipython==5.4.1 jupyter
  # Install OPAM and packages required for CI
  - curl -L https://gist.githubusercontent.com/akabe/24979afbf95c4cf4393f589cda997e1b/raw/install_opam.sh | sh -xeu
  - eval $(opam config env)
  - opam install -y ocamlfind ocaml-migrate-parsetree 'merlin>=3.0.0' ocp-indent 'ounit>=2.0.0' core
  - opam remove jupyter # remove ocaml-jupyter package in cache (if it exists)

script:
  # lint and code-format checks:
  - ./git/pre-commit
  - opam lint jupyter.opam
  - opam lint jupyter-archimedes.opam
  # installation
  - opam pin add jupyter . -y --verbose
  - opam pin add jupyter-archimedes . -y --verbose
  - opam info jupyter # package is installed.
  - ocaml-jupyter-kernel --version # command is installed.
  - ocamlfind query jupyter
  - ocamlfind query jupyter.notebook
  - ocamlfind query jupyter.comm
  - ocamlfind query jupyter-archimedes
  # unit tests
  - jbuilder runtest
  # integration tests
  - echo '#use "topfind" ;;' > $HOME/.ocamlinit
  - jupyter kernelspec install --user --name ocaml-jupyter "$(opam config var share)/jupyter"
  - jbuilder build test/integration/runtest.exe
  - ./_build/default/test/integration/runtest.exe test/integration/suite/*.ml
  # uninstallation
  - opam remove jupyter jupyter-archimedes --verbose
  - (! ocamlfind query jupyter)

after_success: |
  curl -sL https://gist.githubusercontent.com/akabe/24979afbf95c4cf4393f589cda997e1b/raw/update_gh-pages_jbuilder.sh | sh -xeu
